#marcador{
      font-size: 48px;
}

#empezar{
      position: absolute;
      top: 40%;
      left: 50%;
}

#raqueta{
      border: 1px solid black;
      position: absolute;
      background-color: red;
}

#lineLeft, #lineRight{
      border: 1px solid black;
      width: 3px;
      background-color: black;
      position: absolute;
      top: 0px;
}

#lineTop{
      border: 1px solid black;
      height: 3px;
      background-color: black;
      position: absolute;
      top: 0px;
}

#pelota{
      border: 1px solid black;
      background-color: black;
      border-radius: 999px;
      position: absolute;
}
